<h2>Vault status</h2>

Sealed: <%= @status.sealed %>
t: <%= @status.t %>
n: <%= @status.n %>
progress: <%= @status.progress %>

<% if current_user %>
  <div class="user u-margin-Al u-padding-Al">
    <img class="small" style="height: 50px; width: 50px" src="<%=current_user.image%>"/>
    <%= current_user.name %> (<%= current_user.email %>)
    <%= link_to 'Disconnect', sessions_path, method: :delete %>
  </div>
  <% if @status.sealed %>
    <%= form_tag(unsealers_path, method: :post) do %>
      <button class="btn btn-primary btn-lg">Start unsealing vault</button>
    <% end %>
  <% else %>
    <%= link_to 'SEAL THE VAULT!!!', unsealers_path, method: :delete, class: "btn btn-danger bnt-lg" %>
  <% end %>
<% else %>
  <% case ENV["AUTH"] %>
  <% when "heroku" %>
    <a href="/auth/heroku" class="btn btn-lg btn-default">Unseal with Heroku</a>
  <% when "github" %>
    <a href="/auth/github" class="btn btn-lg btn-default">Unseal with GitHub</a>
  <% when "google" %>
    <a href="/auth/google_oauth2" class="btn btn-lg btn-default">Unseal with Google</a>
  <% end %>
<% end%>
